abhay-whatsap-chatbot-fQ7Qt4zfXwz1Xtds.json
{
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -128,
        0
      ],
      "id": "ccb90ac5-bafa-4deb-bde6-9c27bfdeb267",
      "name": "WhatsApp Trigger",
      "webhookId": "ca3122d7-b3d8-45a9-a845-7e0c967b212d",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "P6G9jbTAEkB0xgT6",
          "name": "WhatsApp OAuth account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "9f627d88-ad5d-4650-8c93-4e152ada695b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite-preview-06-17",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        208,
        208
      ],
      "id": "bbca50a9-f488-42be-a485-be17271bfb11",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "Lf3W4oX5YzVXTHAw",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "Session"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        304,
        208
      ],
      "id": "9276066e-33ad-41b7-a309-cd79fadf83f2",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "891987520654593",
        "recipientPhoneNumber": "917416906475",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        560,
        0
      ],
      "id": "43e1ec27-32a6-4865-85d6-68d8ded5227c",
      "name": "Send message",
      "webhookId": "8d666615-68de-48f9-b2b2-f1f7ed4af7fb",
      "credentials": {
        "whatsAppApi": {
          "id": "0mma4mAmoiHgQ9EY",
          "name": "WhatsApp account 2"
        }
      }
    }
  ],
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
