abhay-supabase-workflow-VswVJL1AQRnk1FlI.json
{
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "da1b41c8-f6e9-4c48-ac0e-97cb671d86b4",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        288,
        400
      ],
      "id": "6d052a3b-9983-4153-a312-658ba469ff7b",
      "name": "If Row Exists"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"Exists?\": \"Exists\",\n  \"id\": \"{{ $json }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        576,
        320
      ],
      "id": "b64cf9ef-5725-4c13-b76b-8e2d6f232db7",
      "name": "Respond: Updated"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"action\": \"created\",\n  \"id\": \"{{ $('Separate Core & Dynamic Fields').item.json.coreData.id }}\",\n  \"dynamicFieldsStored\": {{ JSON.stringify(Object.keys($('Separate Core & Dynamic Fields').item.json.dynamicData)) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        576,
        464
      ],
      "id": "26376616-756f-4639-87f3-03ed74d8ae6d",
      "name": "Respond: Created"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "Test Table",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.body.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        96,
        400
      ],
      "id": "1c9f400f-e795-4ee9-aae5-b375e36635db",
      "name": "Get a row1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "4WYGPyQM9usgM1Hl",
          "name": "Abhay-Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "Test Table",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "=1"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -624,
        1152
      ],
      "id": "25551c48-49ef-4179-a695-c87abdfb25a1",
      "name": "Get Existing Columns3",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "4WYGPyQM9usgM1Hl",
          "name": "Abhay-Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get existing columns from a sample row\nconst sampleRow = $input.first().json;\nconst existingColumns = Object.keys(sampleRow);\n\n// Get incoming webhook data\nconst webhookData = $('Webhook3').item.json.body;\nconst incomingFields = Object.keys(webhookData);\n\n// Find new columns that don't exist yet\nconst newColumns = incomingFields.filter(field => !existingColumns.includes(field));\n\n// Prepare SQL statements to create new columns\nconst createColumnStatements = [];\n\nfor (const columnName of newColumns) {\n  const value = webhookData[columnName];\n  let dataType = 'text'; // default type\n  \n  // Detect data type based on value\n  if (typeof value === 'number') {\n    dataType = Number.isInteger(value) ? 'integer' : 'numeric';\n  } else if (typeof value === 'boolean') {\n    dataType = 'boolean';\n  } else if (value && typeof value === 'string') {\n    // Check if it's a date\n    const dateRegex = /^\\d{4}-\\d{2}-\\d{2}/;\n    if (dateRegex.test(value)) {\n      dataType = 'timestamp';\n    }\n  }\n  \n  createColumnStatements.push({\n    columnName: columnName,\n    dataType: dataType,\n    sql: `ALTER TABLE \"Test Table\" ADD COLUMN IF NOT EXISTS \"${columnName}\" ${dataType};`\n  });\n}\n\n// Return multiple items - one for each new column\nif (newColumns.length > 0) {\n  return createColumnStatements.map((statement, index) => ({\n    json: {\n      existingColumns: existingColumns,\n      incomingFields: incomingFields,\n      newColumns: newColumns,\n      createColumnStatements: createColumnStatements,\n      webhookData: webhookData,\n      needsNewColumns: true,\n      currentColumn: statement,\n      columnIndex: index\n    }\n  }));\n} else {\n  return {\n    json: {\n      existingColumns: existingColumns,\n      incomingFields: incomingFields,\n      newColumns: newColumns,\n      createColumnStatements: createColumnStatements,\n      webhookData: webhookData,\n      needsNewColumns: false\n    }\n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -416,
        1152
      ],
      "id": "a66da536-cbd6-43ee-91eb-57a5f8cb437c",
      "name": "Detect New Columns3",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-new-columns",
              "leftValue": "={{ $json.needsNewColumns }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -224,
        1152
      ],
      "id": "285cb409-86e4-470b-a5d0-a34a0736d8f6",
      "name": "If Needs New Columns3"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "Test Table",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $('Webhook3').item.json.body.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        400,
        1152
      ],
      "id": "d89da5a6-4929-4035-8f7b-f853ced09815",
      "name": "Get a row5",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "4WYGPyQM9usgM1Hl",
          "name": "Abhay-Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "row-exists-check",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        592,
        1152
      ],
      "id": "796ed7d4-1a52-43bb-9cc7-fa432ee38121",
      "name": "If Row Exists4"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://rvahoijqlnuquwovxnrd.supabase.co/rest/v1/Test%20Table?id=eq.{{ $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ2YWhvaWpxbG51cXV3b3Z4bnJkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NDcxOTk0NiwiZXhwIjoyMDgwMjk1OTQ2fQ.BvpYY-2CUNj_KLqiP518-fZpzP8blQGPblNuN5nqcd4"
            },
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ2YWhvaWpxbG51cXV3b3Z4bnJkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NDcxOTk0NiwiZXhwIjoyMDgwMjk1OTQ2fQ.BvpYY-2CUNj_KLqiP518-fZpzP8blQGPblNuN5nqcd4"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.data) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        992,
        1040
      ],
      "id": "54cbfbc5-0544-4b11-8d05-1aad225817c5",
      "name": "Update Row5",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GjW04AFAxxFwh19h",
          "name": "Abhay-Supabase Credentials"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://rvahoijqlnuquwovxnrd.supabase.co/rest/v1/Test%20Table",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ2YWhvaWpxbG51cXV3b3Z4bnJkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NDcxOTk0NiwiZXhwIjoyMDgwMjk1OTQ2fQ.BvpYY-2CUNj_KLqiP518-fZpzP8blQGPblNuN5nqcd4"
            },
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ2YWhvaWpxbG51cXV3b3Z4bnJkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NDcxOTk0NiwiZXhwIjoyMDgwMjk1OTQ2fQ.BvpYY-2CUNj_KLqiP518-fZpzP8blQGPblNuN5nqcd4"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.data) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        992,
        1248
      ],
      "id": "3b6b7508-9831-4b18-a6e6-493c432f4f9d",
      "name": "Create Row4",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GjW04AFAxxFwh19h",
          "name": "Abhay-Supabase Credentials"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"action\": \"updated\",\n  \"id\": \"{{ $('Webhook3').item.json.body.id }}\",\n  \"newColumnsCreated\": {{ JSON.stringify($('Detect New Columns3').item.json.newColumns) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1200,
        1040
      ],
      "id": "221c6de8-bdb0-49aa-ab61-cb15c4316f06",
      "name": "Respond: Updated4"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"action\": \"created\",\n  \"id\": \"{{ $('Webhook3').item.json.body.id }}\",\n  \"newColumnsCreated\": {{ JSON.stringify($('Detect New Columns3').item.json.newColumns) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1200,
        1248
      ],
      "id": "a24ac55f-e0e5-49c8-83d2-74587355cfd1",
      "name": "Respond: Created4"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -32,
        1040
      ],
      "id": "e8824f23-b7ee-43c4-9cb4-0090015e644a",
      "name": "Loop Over New Columns2"
    },
    {
      "parameters": {
        "jsCode": "// Get the current column data that's already in this item\nconst currentColumn = $input.item.json.currentColumn;\nconst columnIndex = $input.item.json.columnIndex;\nconst totalColumns = $input.item.json.createColumnStatements.length;\n\nreturn {\n  json: {\n    columnName: currentColumn.columnName,\n    dataType: currentColumn.dataType,\n    index: columnIndex,\n    totalColumns: totalColumns\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        832
      ],
      "id": "a8929e89-042d-4106-ae86-fb81eb439343",
      "name": "Prepare Column Data3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://rvahoijqlnuquwovxnrd.supabase.co/rest/v1/rpc/alter_table_add_column",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ2YWhvaWpxbG51cXV3b3Z4bnJkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NDcxOTk0NiwiZXhwIjoyMDgwMjk1OTQ2fQ.BvpYY-2CUNj_KLqiP518-fZpzP8blQGPblNuN5nqcd4"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "p_table_name",
              "value": "Test Table"
            },
            {
              "name": "p_column_name",
              "value": "={{ $json.columnName }}"
            },
            {
              "name": "p_column_type",
              "value": "={{ $json.dataType }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        336,
        832
      ],
      "name": "Alter Table3",
      "id": "89350eff-8b4c-490c-bab9-932c236d7e03",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GjW04AFAxxFwh19h",
          "name": "Abhay-Supabase Credentials"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepare data for Update operation using raw JSON\nconst webhookData = $('Webhook3').item.json.body;\n\n// Remove 'id' from the data to update (we use it in the filter)\nconst { id, ...updateData } = webhookData;\n\nreturn {\n  json: {\n    data: updateData,\n    id: id\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        1040
      ],
      "id": "3788a9aa-9978-4fb7-8477-4e331073f194",
      "name": "Prepare Update Data2"
    },
    {
      "parameters": {
        "jsCode": "// Prepare data for Insert operation using raw JSON\nconst webhookData = $('Webhook3').item.json.body;\n\nreturn {\n  json: {\n    data: webhookData,\n    id: webhookData.id\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        1248
      ],
      "id": "5290744f-c610-45b1-b528-6e8edc76784f",
      "name": "Prepare Insert Data2"
    },
    {
      "parameters": {
        "path": "7330935b-1b7f-447d-bc91-5bf1ad2ba464",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -32,
        1760
      ],
      "id": "3ff335a3-598e-44dc-9a16-0170193e5164",
      "name": "Webhook3",
      "webhookId": "7330935b-1b7f-447d-bc91-5bf1ad2ba464"
    },
    {
      "parameters": {
        "path": "3f504b54-2a19-4154-b072-dfbf7c8a6b88",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -96,
        400
      ],
      "id": "6e5cf19c-b678-4607-b3e6-55b87fb958e3",
      "name": "Webhook2",
      "webhookId": "3f504b54-2a19-4154-b072-dfbf7c8a6b88"
    },
    {
      "parameters": {
        "content": "## Workflow to create columns if needed and add/edit rows one by one"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1184,
        1136
      ],
      "typeVersion": 1,
      "id": "3a738a63-eb36-4af3-9684-2fc6fc0375e2",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Workflow to edit or create rows without creating new columns"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -720,
        368
      ],
      "typeVersion": 1,
      "id": "c2e823a3-9811-4d69-85e4-60fc880479f3",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://rvahoijqlnuquwovxnrd.supabase.co/rest/v1/rpc/upsert_with_dynamic_columns",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ2YWhvaWpxbG51cXV3b3Z4bnJkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NDcxOTk0NiwiZXhwIjoyMDgwMjk1OTQ2fQ.BvpYY-2CUNj_KLqiP518-fZpzP8blQGPblNuN5nqcd4"
            },
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ2YWhvaWpxbG51cXV3b3Z4bnJkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NDcxOTk0NiwiZXhwIjoyMDgwMjk1OTQ2fQ.BvpYY-2CUNj_KLqiP518-fZpzP8blQGPblNuN5nqcd4"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_table_name\": \"Test Table\",\n  \"p_data\": {{ JSON.stringify($json.body) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        1760
      ],
      "id": "7339c19c-5fdc-43ca-8b38-04e489205af2",
      "name": "Upsert with Dynamic Columns",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GjW04AFAxxFwh19h",
          "name": "Abhay-Supabase Credentials"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"action\": \"{{ $json.action }}\",\n  \"id\": \"{{ $json.id }}\",\n  \"newColumnsCreated\": {{ JSON.stringify($json.new_columns_created || []) }},\n  \"data\": {{ JSON.stringify($json.result) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        400,
        1760
      ],
      "id": "734783e6-5343-475a-b73a-764f6142f1fd",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "If Row Exists": {
      "main": [
        [
          {
            "node": "Respond: Updated",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond: Created",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row1": {
      "main": [
        [
          {
            "node": "If Row Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Existing Columns3": {
      "main": [
        [
          {
            "node": "Detect New Columns3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect New Columns3": {
      "main": [
        [
          {
            "node": "If Needs New Columns3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Needs New Columns3": {
      "main": [
        [
          {
            "node": "Loop Over New Columns2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a row5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row5": {
      "main": [
        [
          {
            "node": "If Row Exists4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Row Exists4": {
      "main": [
        [
          {
            "node": "Prepare Update Data2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Insert Data2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Row5": {
      "main": [
        [
          {
            "node": "Respond: Updated4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Row4": {
      "main": [
        [
          {
            "node": "Respond: Created4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over New Columns2": {
      "main": [
        [
          {
            "node": "Get a row5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Column Data3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Column Data3": {
      "main": [
        [
          {
            "node": "Alter Table3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alter Table3": {
      "main": [
        [
          {
            "node": "Loop Over New Columns2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Update Data2": {
      "main": [
        [
          {
            "node": "Update Row5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Insert Data2": {
      "main": [
        [
          {
            "node": "Create Row4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook3": {
      "main": [
        [
          {
            "node": "Upsert with Dynamic Columns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook2": {
      "main": [
        [
          {
            "node": "Get a row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert with Dynamic Columns": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Webhook2": [
      {
        "json": {
          "headers": {
            "connection": "upgrade",
            "host": "trainn8n.kozow.com",
            "x-real-ip": "98.92.48.38",
            "x-forwarded-for": "98.92.48.38",
            "x-forwarded-proto": "https",
            "content-length": "172",
            "accept-encoding": "gzip, deflate",
            "content-type": "application/json"
          },
          "params": {},
          "query": {},
          "body": {
            "companyName": "Pursuit Future",
            "location": "Hyderabad",
            "id": "6",
            "created_at": "2025-12-04T09:49:40.296Z",
            "new_column": "New cell 3",
            "phone_number": "906475",
            "revenue": "99999"
          },
          "webhookUrl": "https://trainn8n.kozow.com/webhook/3f504b54-2a19-4154-b072-dfbf7c8a6b88",
          "executionMode": "production"
        }
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
