daily-leads-report-—-all-campaigns-caq8oAOKrQjlK4S8.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "9a7d8240-d542-4b37-b24b-3943a58290ce",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -496,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "return [\n  { json: { campaignId: 'cb5b45d3-67ce-46ce-bfe8-3e2e70bdd2f3', campaignName: 'Companies | Email V1 | Jan 29th, 2026 | BATCH 2 Inboxes',          dedupeField: 'website'  } },\n  { json: { campaignId: '45385e29-2383-4e75-9bd5-50fb9ec4db3b', campaignName: 'Companies | Email V2 | Feb 4th, 2026 | BATCH 1 Inboxes',            dedupeField: 'website'  } },\n  { json: { campaignId: '0bf95669-db4b-4d67-82cc-907e002c4bb8', campaignName: 'Personal | Email V1 (Plain) | Jan 28th, 2026 | BATCH 1 Inboxes',    dedupeField: 'fullName' } },\n  { json: { campaignId: 'f3c6666d-d312-44ea-bf5d-36dab3c14ca1', campaignName: 'Personal | Email V2 (Pain Hook) | Jan 28th, 2026 | BATCH 1 Inboxes', dedupeField: 'fullName' } },\n  { json: { campaignId: '8b045d3a-2b31-4ecc-999d-6e2deeac7f0d', campaignName: 'Personal | Email V3 (Story Telling) | Feb 2nd, 2026 | BATCH 1 Inboxes', dedupeField: 'fullName' } },\n  { json: { campaignId: 'bf19fef1-7545-41d8-96c9-0bae5b8831e8', campaignName: 'Personal | Email V4 (Direct) | Feb 12th, 2026 | BATCH 1 Inboxes',   dedupeField: 'fullName' } },\n  { json: { campaignId: '1450d9df-b724-4cfb-ba0b-6391070af4d8', campaignName: 'Companies | Email V5 | Feb 4th, 2026 | Google SM ZM',               dedupeField: 'website'  } },\n];"
      },
      "id": "600b8dc4-f175-4a6d-8f2e-2000e3ad2526",
      "name": "Campaign List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -288,
        0
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "9xKHUUh1ZDrP9mMu",
          "mode": "id"
        },
        "options": {}
      },
      "id": "7f1eb5b8-6f3d-4c0d-8df1-612b258a8eda",
      "name": "Run Campaign Sub-workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        192,
        48
      ]
    },
    {
      "parameters": {
        "jsCode": "const results   = $input.all();\nconst dateLabel = results[0]?.json?.dateLabel || 'yesterday';\n\nconst COMPANIES = new Set([\n  'cb5b45d3-67ce-46ce-bfe8-3e2e70bdd2f3',\n  '45385e29-2383-4e75-9bd5-50fb9ec4db3b',\n  '1450d9df-b724-4cfb-ba0b-6391070af4d8',\n]);\n\nfunction pct(num, den) {\n  if (!den) return '0.00%';\n  return (num / den * 100).toFixed(2) + '%';\n}\n\nconst COL = { name: 26, leads: 5, replies: 7, positive: 8, rr: 10, pr: 9 };\n\nfunction hdr() {\n  return [\n    'Campaign'.padEnd(COL.name),\n    'Leads'.padStart(COL.leads),\n    'Replies'.padStart(COL.replies),\n    'Positive'.padStart(COL.positive),\n    'Reply Rate'.padStart(COL.rr),\n    'Pos Rate'.padStart(COL.pr),\n  ].join(' | ');\n}\n\nfunction sep() { return '-'.repeat(hdr().length); }\n\nfunction row(name, leads, replies, positive, rr, pr) {\n  const n = name.length > COL.name ? name.slice(0, COL.name - 3) + '...' : name.padEnd(COL.name);\n  return [\n    n,\n    String(leads).padStart(COL.leads),\n    String(replies).padStart(COL.replies),\n    String(positive).padStart(COL.positive),\n    String(rr).padStart(COL.rr),\n    String(pr).padStart(COL.pr),\n  ].join(' | ');\n}\n\nfunction table(dataRows) {\n  if (!dataRows.length) return '_No activity_';\n  return ['```', hdr(), sep(), ...dataRows, '```'].join('\\n');\n}\n\n// Accumulators\nconst agg = {\n  co: { yday_leads: 0, yday_replies: 0, yday_positive: 0, at_leads: 0, at_replies: 0, at_positive: 0 },\n  pe: { yday_leads: 0, yday_replies: 0, yday_positive: 0, at_leads: 0, at_replies: 0, at_positive: 0 },\n};\n\nlet grandLeads = 0, grandYday = 0, grandAllTime = 0;\nconst coRows = [], peRows = [];\n\nfor (const item of results) {\n  const r    = item.json;\n  const isCo = COMPANIES.has(r.campaignId);\n  const g    = isCo ? agg.co : agg.pe;\n\n  g.yday_leads    += r.uniqueCount        || 0;\n  g.yday_replies  += r.yday_replies       || 0;\n  g.yday_positive += r.yday_positive      || 0;\n  g.at_leads      += r.allTimeUniqueCount || 0;\n  g.at_replies    += r.alltime_replies    || 0;\n  g.at_positive   += r.alltime_positive   || 0;\n\n  grandLeads   += r.totalLeads        || 0;\n  grandYday    += r.uniqueCount       || 0;\n  grandAllTime += r.allTimeUniqueCount || 0;\n\n  (isCo ? coRows : peRows).push(r);\n}\n\nconst { co, pe } = agg;\n\n// Summary tables — skip group row if Leads == 0\nfunction summaryTable(ydayOrAt) {\n  const isYday = ydayOrAt === 'yday';\n  const rows = [];\n  if (isYday) {\n    if (co.yday_leads > 0) rows.push(row('Companies', co.yday_leads, co.yday_replies, co.yday_positive, pct(co.yday_replies, co.yday_leads), pct(co.yday_positive, co.yday_leads)));\n    if (pe.yday_leads > 0) rows.push(row('People',    pe.yday_leads, pe.yday_replies, pe.yday_positive, pct(pe.yday_replies, pe.yday_leads), pct(pe.yday_positive, pe.yday_leads)));\n  } else {\n    if (co.at_leads > 0) rows.push(row('Companies', co.at_leads, co.at_replies, co.at_positive, pct(co.at_replies, co.at_leads), pct(co.at_positive, co.at_leads)));\n    if (pe.at_leads > 0) rows.push(row('People',    pe.at_leads, pe.at_replies, pe.at_positive, pct(pe.at_replies, pe.at_leads), pct(pe.at_positive, pe.at_leads)));\n  }\n  return table(rows);\n}\n\n// Per-campaign tables — skip row if Leads == 0\nfunction campaignTable(rows, type) {\n  const isYday = type === 'yday';\n  const filtered = rows.filter(r => isYday ? (r.uniqueCount || 0) > 0 : (r.allTimeUniqueCount || 0) > 0);\n  return table(filtered.map(r => isYday\n    ? row(r.campaignName, r.uniqueCount,        r.yday_replies,    r.yday_positive,    r.yday_reply_rate,    r.yday_positive_rate)\n    : row(r.campaignName, r.allTimeUniqueCount, r.alltime_replies, r.alltime_positive, r.alltime_reply_rate, r.alltime_positive_rate)\n  ));\n}\n\nconst text = [\n  `:bar_chart: *Instantly Daily Report \\u2013 ${dateLabel}*`,\n  '',\n  `*Yesterday Summary*`,\n  summaryTable('yday'),\n  '',\n  `*All-time Summary*`,\n  summaryTable('alltime'),\n  '',\n  `*Yesterday \\u2013 Companies*`,\n  campaignTable(coRows, 'yday'),\n  '',\n  `*Yesterday \\u2013 People*`,\n  campaignTable(peRows, 'yday'),\n  '',\n  `*All-time \\u2013 Companies*`,\n  campaignTable(coRows, 'alltime'),\n  '',\n  `*All-time \\u2013 People*`,\n  campaignTable(peRows, 'alltime'),\n  '',\n  `_Total: ${grandLeads} leads | Yesterday: ${grandYday} unique | All-time: ${grandAllTime} unique_`,\n].join('\\n');\n\nreturn [{ json: { text, dateLabel } }];"
      },
      "id": "f74b708d-24c6-4c2a-a47c-c1cc6e88884e",
      "name": "Compile Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        0
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09KMBBMCR0",
          "mode": "list",
          "cachedResultName": "instantly-report"
        },
        "text": "={{ $json.text }}",
        "otherOptions": {}
      },
      "id": "24ef18d4-db4b-4659-864c-eee9685a8d33",
      "name": "Send to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        672,
        0
      ],
      "webhookId": "63eb0322-4d19-47d5-96aa-b9f4a5c5c5f5",
      "credentials": {
        "slackOAuth2Api": {
          "id": "hzqvg6T6xgzntMzr",
          "name": "Abhay-InfiniteSkills Acc."
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "29d4f2b7-bda2-4323-8078-4d60755ab7e8",
      "name": "Loop Over Campaigns",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -64,
        0
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Campaign List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Campaign List": {
      "main": [
        [
          {
            "node": "Loop Over Campaigns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Campaigns": {
      "main": [
        [
          {
            "node": "Compile Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Run Campaign Sub-workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Campaign Sub-workflow": {
      "main": [
        [
          {
            "node": "Loop Over Campaigns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compile Results": {
      "main": [
        [
          {
            "node": "Send to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {}
}
